/* Write your CSS here */
.MatchCard {
  background-color: #0f172a;
  text-align: center;
  font-size: 10px;
  width: 150px;
  padding: 20px;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.matchCard-logo {
  width: 100px;
  height: 100px;
}
.won {
  color: #18ed66;
}
.lost {
  color: #e31a1a;
}
