h1 {
  color: #ffffff;
  font-family: "Bree Serif";
}

.IplDashboardContainer {
  background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teamsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}
.teams {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .iplHeading {
    font-size: 50px;
  }
  .IplDashboardContainer {
    background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png");
  }
}
